.account-avatar {
    .profile {
        .image {
                position: relative;
            .profile-image {
                width: 50%;
            }
           form {
                label {
                    i {
                        position: absolute;
                        bottom: 103px;
                        right: 105px;
                        background-color: white;
                        padding: 0.4rem;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .account-avatar {
        .profile {
            .image {
                .profile-image {
                    width: 100%;
                }
                form {
                    label {
                        i {
                            bottom: 146px;
                            right: 9px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .account-avatar {

                    label {
                        i {
                            bottom: 144px;
                        }
                    }
                }
    }


@media (min-width: 1400px) {
    .account-avatar {


                    label {
                        i {
                            bottom: 101px;
                        }
                    }
                }
    }
