.error-404 {
    .container {
        display: flex;
        flex-direction: column;
        padding-block: 10rem;

        .content {
            text-align: center;
        }
       nav {
            display: flex;
            justify-content: center;
        }
    }
}
