form {
    width: 100%;
    display: grid;
    font-size: 16px;
    font-weight: 400;


    h1, p {
        text-align: center;
    }

    .input-group {
        display: grid;

    }

    .checkbox-group {
        input[type=checkbox] {
            margin-right: 10px;
        }

        .input-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;

        }
    }

    input {
        padding: 16px;
        border-radius: 8px !important;
        border: 1px solid var(--color-gray-400);


        &::placeholder {
            opacity: 0.5;
        }
    }

    input[type=checkbox] {
        height: 20px;
        width: 20px;
        margin: 0;
    }

    button {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
    }

    .field-validation-error {
        font-size: 14px;
        font-weight: 400;
        padding: 2px 5px;
        color: $danger;
    }
}


