<footer>
    <div class="container">
        <div class="social-media social-media-icons">
            <a class="btn btn-theme-secondary btn-social" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-theme-secondary btn-social" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-theme-secondary btn-social" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-theme-secondary btn-social" href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p>&copy; @DateTime.Now.Year Silicon by CreatexStudio. All rights reserved. <span>Pulvania rune condemtied.......</span></p>
    </div>
</footer>

