@* <section class="account-avatar">
    <div class="profile">
        <div class="image">
            <img src="~/Images/uploads/profiles/avatar.png" alt="profile image" />
            <form>

            </form>
        </div>
    </div>
    <div class="info">
        <h3 class="displayname">John Doe</h3>
        <p class="email">johndoe@Domain.com</p>
    </div>
</section>

 *@





@* 
<div class="profile">
    <div class="profile-info">
        <img src="~/Images/icons/@Model.ProfileInfo?.ProfileImageUrl" alt="" />
    </div>
    <div class="profile-info">
        <h5>@Model.ProfileInfo?.FirstName @Model.ProfileInfo?.LastName</h5>
        <p>@Model.ProfileInfo?.Email</p>
    </div>

    <button id="btn-details" type="button" class="btn-theme">Account Details</button>
    <div class="settings">
        <a asp-action="" asp-controller=""><i class="fa-regular fa-lock-keyhole"></i>Security</a>
        <a asp-action="Courses" asp-controller="Course"><i class="fa-sharp fa-regular fa-bookmark"></i>Saved Courses</a>
        <a asp-action="SignOut" asp-controller="Auth"><i class="fa-duotone fa-arrow-right-from-bracket"></i>Sign Out</a>
    </div>
</div> *@