@model AccountDetailsViewModel

@{
    ViewData["Title"] = "Account Details";
}

<section class="account-details">
    <div class="container">

        @if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
        {
            <div class="error-message alert alert-danger">
                @TempData["StatusMessage"]
            </div>
        }

@*         <aside>
            <div class="profile">
                <div class="profile-info">
                    <img src="~/Images/icons/@Model.ProfileInfo?.ProfileImageUrl" alt="" />
                </div>
                <div class="profile-info">
                    <h5>@Model.ProfileInfo?.FirstName @Model.ProfileInfo?.LastName</h5>
                    <p>@Model.ProfileInfo?.Email</p>
                </div>

                <button id="btn-details" type="button" class="btn-theme">Account Details</button>
                <div class="settings">
                    <a asp-action="" asp-controller=""><i class="fa-regular fa-lock-keyhole"></i>Security</a>
                    <a asp-action="Courses" asp-controller="Course"><i class="fa-sharp fa-regular fa-bookmark"></i>Saved Courses</a>
                    <a asp-action="SignOut" asp-controller="Auth"><i class="fa-duotone fa-arrow-right-from-bracket"></i>Sign Out</a>
                </div>
            </div>
        </aside> *@

        <div class="account-information">
            <h1>Account Details</h1>

            <form id="basicInfoForm" method="post" asp-action="UpdateBasicInfo" asp-controller="Account" novalidate>
                <h5>Basic Info</h5>

                <div class="form-content">
                    <div id="firstname" class="input-group">
                        <label asp-for="BasicInfo!.FirstName"></label>
                        <input asp-for="BasicInfo!.FirstName" />
                        <span asp-validation-for="BasicInfo!.FirstName"></span>
                    </div>
                    <div id="lastname" class="input-group">
                        <label asp-for="BasicInfo!.LastName"></label>
                        <input asp-for="BasicInfo!.LastName" />
                        <span asp-validation-for="BasicInfo!.LastName"></span>
                    </div>
                    <div id="email" class="input-group">
                        <label asp-for="BasicInfo!.Email"></label>
                        <input asp-for="BasicInfo!.Email" />
                        <span asp-validation-for="BasicInfo!.Email"></span>
                    </div>
                    <div id="phone" class="input-group">
                        <label asp-for="BasicInfo!.PhoneNumber"></label>
                        <input asp-for="BasicInfo!.PhoneNumber" />
                        <span asp-validation-for="BasicInfo!.PhoneNumber"></span>
                    </div>
                    <div id="biography" class="input-group">
                        <label asp-for="BasicInfo!.Biography"></label>
                        <textarea asp-for="BasicInfo!.Biography"></textarea>
                        <span asp-validation-for="BasicInfo!.Biography"></span>
                    </div>

                </div>
                <div class="details-buttons">
                    <button id="btn-cancel" type="reset" class="btn btn-gray">Cancel</button>
                    <button id="btn-submit" type="submit" class="btn btn-theme-s">Save changes</button>
                </div>
            </form>


            <form id="addressInfoForm" method="post" asp-action="UpdateAddressInfo" asp-controller="Account" novalidate>
                <h5>Address Info</h5>
                <div class="form-content">
                    <div id="address-line-1" class="input-group">
                        <label asp-for="AddressInfo!.AddressLine_1"></label>
                        <input asp-for="AddressInfo!.AddressLine_1" />
                        <span asp-validation-for="AddressInfo!.AddressLine_1"></span>
                    </div>
                    <div id="address-line-2" class="input-group">
                        <label asp-for="AddressInfo!.AddressLine_2"></label>
                        <input asp-for="AddressInfo!.AddressLine_2" />
                        <span asp-validation-for="AddressInfo!.AddressLine_2"></span>
                    </div>
                    <div id="postalcode" class="input-group">
                        <label asp-for="AddressInfo!.PostalCode"></label>
                        <input asp-for="AddressInfo!.PostalCode" />
                        <span asp-validation-for="AddressInfo!.PostalCode"></span>
                    </div>
                    <div id="city" class="input-group">
                        <label asp-for="AddressInfo!.City"></label>
                        <input asp-for="AddressInfo!.City" />
                        <span asp-validation-for="AddressInfo!.City"></span>
                    </div>
                </div>
                <div class="details-buttons">
                    <button id="btn-cancel" type="reset" class="btn-gray">Cancel</button>
                    <button id="btn-submit" type="submit" class="btn-theme-s">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</section>
